<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.topwise.tapfood"
    android:versionCode="112"
    android:versionName="1.1.2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CLOUDPOS_PRINTER" />
    <uses-permission android:name="android.permission.CLOUDPOS_PINPAD" />
    <uses-permission android:name="android.permission.CLOUDPOS_PINPAD_PIN_BLOCK" />
    <uses-permission android:name="android.permission.CLOUDPOS_PINPAD_PIN_MAC" />
    <uses-permission android:name="android.permission.CLOUDPOS_PINPAD_ENCRYPT_DATA" />
    <uses-permission android:name="android.permission.CLOUDPOS_PINPAD_UPDATE_MKEY" />
    <uses-permission android:name="android.permission.CLOUDPOS_PINPAD_UPDATE_WKEY" />
    <uses-permission android:name="android.permission.CLOUDPOS_ICCARD" />
    <uses-permission android:name="android.permission.CLOUDPOS_EMVL2" />
    <uses-permission android:name="android.permission.CLOUDPOS_RFCARD" />
    <uses-permission android:name="android.permission.CLOUDPOS_MAGCARD" />
    <uses-permission android:name="android.permission.CLOUDPOS_MAGCARD_GETTRACKDATA" />
    <uses-permission android:name="android.permission.CLOUDPOS_MAGCARD_GETENCRYPTTRACKDATA" />
    <uses-permission android:name="android.permission.CLOUDPOS_PSAMCARD" />
    <uses-permission android:name="android.permission.CLOUDPOS_SERIALPORT" />
    <uses-permission android:name="android.permission.CLOUDPOS_SYSTEMDEV" />
    <uses-permission android:name="android.permission.CLOUDPOS_SYSTEMDEV_ALARM" />
    <uses-permission android:name="android.permission.CLOUDPOS_SYSTEMDEV_INSTALL" />
    <uses-permission android:name="android.permission.CLOUDPOS_SYSTEMDEV_OS_UPDATE" />
    <uses-permission android:name="android.permission.CLOUDPOS_SHELLMONITORDEV" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.BIND_DEVICE_ADMIN"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.INTERNAL_SYSTEM_WINDOW"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="com.tapfood.application.TapFoodApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="TapFood"
        android:theme="@style/AppTheme.FullScreen">
        <activity
            android:name="com.tapfood.application.tapFood.receipt.unsuccessful.Unsuccessful"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name="com.tapfood.application.tapFood.receipt.successful.Successful"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name="com.tapfood.application.tapFood.shoppingList.ShoppingListActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity android:name="com.tapfood.application.tapFood.addFood.AddFoodActivity" />
        <activity
            android:name="com.tapfood.application.tapFood.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tapfood.application.tapFood.restaurantList.RestaurantListActivity" />
        <activity
            android:name="com.tapfood.application.device.card.SwipeCard"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name="com.tapfood.application.iso85383.ClientISO"
            android:theme="@style/AppTheme.FullScreen" />

        <receiver
            android:name="com.tapfood.application.kioskMode.BootReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.tapfood.application.kioskMode.KioskService"
            android:exported="false" />
    </application>

</manifest>